.img__block {
  max-width: calc(100vw - 48px);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 14px;
  padding: 0;
  margin-top: 25px;
}

.gallery__item {
}
.gallery__img {
  width: 100%;
  transition: all 0.5s ease-out;
}

.gallery__img:last-child {
  margin-bottom: 0;
}

.gallery__img:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 10px 5px rgb(197, 193, 191);
}
